/* CSS for recipes */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 30px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
}

blockquote {
}

.caption {
  display: block;
}

table {
}

td,
th {
}

p,
ol,
ul {
  line-height: 1.5;
  margin-bottom: 1em;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

/* for a menu for all recipes */
ul.allrecipes {
  list-style: none;
}

.menu {
  display: block;
  border: 1px solid gray;
  width: 15%;
  font-size: 60%;
  padding: 10px;
  margin: 20px 0;
}


body {
background-color: rgb(255, 248, 198);
font-family: georgia, serif;
margin: 0;
}

h1, h2 {
color: rgb(9, 224, 233);
font-family: verdana, arial, helvetica, sans-serif;
text-decoration: underline;
}


img {
width: 70%;
max-width: 400px;
margin: 0 auto;
display: block;
}


h2 {
  color: rgb(44, 194, 18);
}


p {
text-align: justify;
}

p.blurb {
font-size: 20px;
}

ul {
list-style: none;
}
ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(9, 224, 233); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em
}

ol {
text-align: justify;
}

div.everything {
width: 70%;
max-width: 900px;
/* border: 1px solid green; */
margin: 0 auto;
background-color: white;
padding: 10px 20px;
}



